server:
  port: 8081

spring:
  application:
    name: UserService

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/StudyBuddyUserDB}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:sam2424}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/StudyBuddyRealm
          jwk-set-uri: http://localhost:8080/realms/StudyBuddyRealm/protocol/openid-connect/certs

keycloak:
  realm: StudyBuddyRealm
  auth-server-url: http://localhost:8080
  resource: user-service
  public-client: true
  bearer-only: true